<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConfigMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ConfigMaker.Properties.Settings>
            <setting name="ChannelsXmlFileName" serializeAs="String">
                <value>configmaker.channels.xml</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>output</value>
            </setting>
            <setting name="SiteIniPack" serializeAs="String">
                <value>siteini.pack</value>
            </setting>
            <setting name="SiteIniUser" serializeAs="String">
                <value>siteini.user</value>
            </setting>
            <setting name="SitePackUrl" serializeAs="String">
                <value>http://www.webgrabplus.com/sites/default/files/download/ini/SiteIniPack_current.zip</value>
            </setting>
            <setting name="UserConfigSubdirectory" serializeAs="String">
                <value>configurations</value>
            </setting>
            <setting name="WebGrabConfigFileName" serializeAs="String">
                <value>WebGrab++.config.xml</value>
            </setting>
            <setting name="WebGrabExePath" serializeAs="String">
                <value>C:\Program Files (x86)\WebGrab+Plus\bin\WebGrab+Plus.exe</value>
            </setting>
            <setting name="WorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </ConfigMaker.Properties.Settings>
    </applicationSettings>
</configuration>